/* line 5, ../compass/sass/style.scss */
body {
  background: #efefef;
}

/* line 9, ../compass/sass/style.scss */
nav ul {
  background: #23ce50;
  list-style: none;
  margin: 10;
  padding: 10;
}
/* line 15, ../compass/sass/style.scss */
nav li {
  display: inline-block;
}
/* line 18, ../compass/sass/style.scss */
nav a {
  display: inline-block;
}
/* line 20, ../compass/sass/style.scss */
nav a:hover {
  background: blue;
}
